---
name: libblkid CI

# yamllint disable-line rule:truthy
on:
  push:
    branches: [master]
    paths-ignore:
      - "CHANGES.txt"
      - "**/README.md"
  pull_request:
    branches: [master]
    paths-ignore:
      - "CHANGES.txt"
      - "**/README.md"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  checks:
    strategy:
      matrix:
        include:
          # MANDATORY CHECKS USING CURRENT DEVELOPMENT COMPILER
          - components: rustfmt
            toolchain: 1.76.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            task: fmt-ci
          - components: clippy
            toolchain: 1.76.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            task: clippy
          - components: cargo
            toolchain: 1.76.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            task: build
          - components: cargo
            toolchain: 1.76.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            task: test
          - components: cargo
            toolchain: 1.76.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            task: docs-ci
          - components: cargo
            toolchain: 1.76.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
            task: check-typos
          # MANDATORY TESTING USING LOWEST SUPPORTED COMPILER
          - components: cargo
            toolchain: 1.71.1  # LOWEST SUPPORTED RUST TOOLCHAIN
            task: test
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          components: ${{ matrix.components }}
          toolchain: ${{ matrix.toolchain }}
      - name: Install dependencies
        run: |
          sudo apt-get -q update
          sudo apt-get -y install libblkid-dev
      - name: Install typos-cli if required
        # yamllint disable rule:line-length
        run: ${{ matrix.task == 'check-typos' && 'cargo install typos-cli' || 'true' }}
      - name: Test ${{ matrix.task }} on ${{ matrix.toolchain }} toolchain
        run: make -f Makefile ${{ matrix.task }}

  # VERIFICATION OF TEST INFRASTRUCTURE
  yamllint:
    runs-on: ubuntu-20.04
    container:
      image: fedora:39  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies for Fedora
        run: dnf install -y make yamllint
      - name: Run yamllint
        run: make -f Makefile yamllint
